%h1 Spelunkular

#form
  =form_tag '/', :remote => true do
    =text_field_tag 'celeb', nil, :placeholder => "Enter a celebrity name!"
    =number_field_tag 'depth', nil, :placeholder => "Depth"
    =submit_tag 'Go!'

#results
